@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  scroll-behavior: smooth;
}

.font-shadow {
  font-family: "Shadows Into Light", cursive;
}

.font-arima {
  font-family: "Arima", cursive;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.slick-slider .slick-next {
  @apply right-[10px] h-full w-[100px] cursor-default;
}

.slick-slider .slick-next::before {
  @apply flex w-full cursor-pointer justify-end pr-2 text-3xl;
}

.slick-slider .slick-prev {
  @apply left-[10px] z-[99] h-full w-[100px] cursor-default;
}

.slick-slider .slick-prev::before {
  @apply flex w-full cursor-pointer pl-2 text-3xl;
}
