@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  scroll-behavior: smooth;
}

.font-shadow {
  font-family: "Shadows Into Light", cursive;
}

.font-arima {
  font-family: "Arima", cursive;
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  color: #bdbdbd;
}
